body {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-gray-1);
}

a {
  color: inherit;
  text-decoration: none;
}

/* input,
label,
button {
  transition-duration: var(--transition-duration);
}

:focus-visible {
  outline: 2px dashed var(--color-black);
  outline-offset: 4px;
  transition-duration: 0s !important;
} */

